/*Ele diz: “as regras dentro daqui só vão valer se a tela tiver pelo menos 38rem de largura”.*/
@media only screen and (min-width: 38rem){





    header {
        grid-template-columns: 24px auto; /*Isso define um grid dentro do header: a primeira coluna com 24px e a segunda ocupando o restante (auto).*/
    }

    header img{
    display: block; /*img ocupara toda a largura disponivel alem de fazer quebra de linha*/
    width: 500%; /*Fax com que ele fique enquadradro mas pode ser cortado para se enquadrar*/
    height: auto;  /*Usa se a autura no auto para evitar a distorção da imagem ajudando assim a se enquadrar no seu box*/
    
   }

 .hamburger {
    display: none;
    /*Em telas pequenas → mostra o botão hambúrguer (menu escondido atrás dele).
      Em telas grandes → esconde o hambúrguer (display: none) e mostra o menu direto.*/
   }

 .navegation {/*Agora sobrepoem a script do aruivo base fazendo com que ao acionar o @media a barra de navegação estara visivel independente do click "show" ser ativo mostrando assim o menu fixo na pagina grande*/
    display: block;
    grid-column: 1 / -1; /* ocupa da primeira até a última coluna */
    
   }

    /**************************************** HEADER MENU DESIGNE Large***************************************************************/


 .navegation ul {/*epara os links em colunas por padrão flex*/
    display: flex;
    column-gap: 3rem; /*Da um gap/espaço entre as colunas (exp |gap| exp |gap| exp)*/
    list-style-type: none;/*Esse comando diz pro navegador:
                            “Não mostre os pontinhos (•) na frente dos itens da lista.*/
    

    align-items: center;
    margin: 1px 1px 1px 33%;
   }

   /*************************************************Footer*************************************************/

   footer {
       border-radius: 10px; /*arredonda as quinas*/
   }





   /***************************************section1**************************/
    .section1{
      display: grid;
      grid-template-columns: 3fr 2fr 2fr;
   }





   /***************************************section2**************************/

    .section2{
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
   }

}