:root {
  --primary: #0077FF; 
  --secondary: #FFB400; 
  --background: #854855; 
  --text: #1C1C1C;
  --muted: #6B7280;
  --accent-contrast: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: rgb( 255, 255, 255, 0.50);
  
  
}




/*********************Header************************/

header{
    display: grid;
    margin: 10px 10px;
    align-items: center;
}

#ham-btn{
    justify-self: end;
    margin-top: auto;
    color: #ffffff;

}



/*********************Navegador************************/


nav {
    
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px; /*Seguindo o sentido do relogio = padding: [top] [right] [bottom] [left];*/
    

}

/*botão hamburger*/

.hamburger {
    background: none; /*Retira o fundo do botão*/
    border: none; /*Retira a borda do botão*/
    cursor: pointer;

}




/*Com pseudonimo ::after podemos sobrepor imagens no boton (conhecido como conteudo fantasma)*/

.hamburger::before { /*o pseudonimo after/before coloca algo dentro do botão sem precisar criar uma linha de codigo extra*/
    content: "\2630"; /*atalho para o simbolo de hamburgue com 3 riscos no horizontal*/
    font-size: 2rem;

}

.hamburger.show::before { /*o pseudonimo after/before coloca algo dentro do botão sem precisar criar uma linha de codigo extra*/
    content: "\00D7"; /*atalho para o simbolo de X quando o script de java for ativo e entrar no menur hamburhuer*/
    font-size: 2rem;
}

/*******************OBS*****************/

/*Esta parte do codigo so é funcional com o codigo JavaScript e o CSS no arquivo large*/

.navegation {/*por padrão a baarra de navegação não vai estar visivel (display:none)-  isso para que o botão a chame ao ser clicado*/
  display: none;
  background-color: var(--secondary-color);
  
}

.navegation ul{
  list-style-type: none;/*Esse comando diz pro navegador:
                            “Não mostre os pontinhos (•) na frente dos itens da lista.*/

  
}

.navegation.show {/*isso faz com que a barra de navegação se torne visivel com o click ativando o "show"(display:block)*/
  display: block;
}

.navegation a{
    text-decoration: none; /*Esse comando diz pro navegador:
                             Retire as linhas sublinhadas*/
    color: var(--LettersTitles-color);
}

.navegation a:hover{/* estilo quando o usuário passa o mouse por cima do link*/
    color: var(--text-color-principal);
    font-size: large;


}

.navegation li.current a {/*Esse comando vasculha a pagina a procura do Li com classe chamada ".current" aplicando as ecessoes de cor de fundo e de texto*/
                          /*OBS.: Para que isso funcione cada pagina precisa esta com o link de sua pagina predeterminada com a classi .current*/
    font-size: x-large;
    
}


nav {
    
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px; /*Seguindo o sentido do relogio = padding: [top] [right] [bottom] [left];*/

    
}

/*********************Main************************/

main {
    margin: 10px;

 
}

.subtitlle{
  padding: 20px;
}

.firstsection{
  margin: auto;
  padding: 5rem;
}

.section1{
    display: grid;
    margin-top: 50%;
    margin: 10% 10% 10% 10%;
    gap: 20px;
    
 
}

.divs1{
  background: rgba( 255, 255, 255, 0.20);
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(239, 185, 185, 0.30); 

}

.divs1 a:hover{

  color: white;
  background-color: var(--background);
    


}

.section2{
    display: grid;
    margin-top: 50%;
    margin: 100px auto;
    gap: 20px;
  
}




/*********************Slide animation************************/

/* Container do slide */
.slide {
  display: flex;                  /* centraliza os elementos */
  justify-content: center;
  align-items: center;
  gap: 20px;                      /* espaço entre thumbnails */
  padding: 200px 0;                /* topo e baixo */
  overflow: hidden;
  position: relative;
  border-radius: 5%;           /* necessário para posicionamento dos filhos absolutos */
  box-shadow: 0 4px 6px rgba(239, 185, 185, 0.1); 
}

/* Cada thumbnail dentro do slide */
.slide a {
  display: block;                 /* garante que o link seja um bloco */
  width: 350px;                   /* largura fixa */
  height: auto;                   /* mantém proporção */
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;                     /* começa invisível */
  position: absolute;             /* empilha todas no mesmo espaço */
  animation: fadeSlide 12s infinite;
}

/* Faz as imagens dentro do link preencher o bloco */
.slide a img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 5%;                 /* cobre todo o bloco sem deformar */
}

/* Delay para cada thumbnail */
.slide a:nth-child(1) { animation-delay: 5s; }
.slide a:nth-child(2) { animation-delay: 2s; }
.slide a:nth-child(3) { animation-delay: 10s; }


/* Animação de fade in/out */
@keyframes fadeSlide {
  0% { opacity: 1; }
  10% { opacity: 0; }
  30% { opacity: 2; }
  100% { opacity: 2; }
}


.section1, .section2, form{
  /* Inicialmente invisível e deslocado para baixo */
  opacity: 0;
  transform: translateY(100px); /* 50px abaixo da posição final */
  
  /* Animação */
  animation: subir 2s ease-out forwards; /* duração 0.6s, suavização ease-out, mantém estado final */
}

/*
animação → nome do @keyframes
2s → duração
linear → função de tempo
2s → atraso antes de começar
forwards → mantém o estado final (opacity: 1) após a animação
*/


@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(100px); /* começa 50px abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* termina na posição normal */
  }
}




/*********************Hero************************/

.hero {
  width: 100%;
  min-height: 100vh; /* deixa o fundo ocupar no mínimo a tela toda, mas permite crescer */
  background-image: url('../images/temaHero.jpg');
  background-size: cover; /*Faz a imagem de fundi preencher todo o elemento*/
  background-position: center;
  background-repeat: no-repeat;/*Obviamente evita a reptição da imagem para ocupar os espços em brancom*/
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: visible; /* libera a rolagem natural */
}







/****************************************footer**************************************/


footer{
  color: rgb( 255, 255, 255, 0.5);
  border-top: solid 1px rgb( 255, 255, 255, 0.5);
  
}

.logos {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.logos a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.logos img{
    width: 22px;
    height: 22px;
}

#dados{
  margin-top: 2rem;
}



/******************************Tabela de ferramentaas************************************************/
.res-grid{

  padding: 10px;

  /* Inicialmente invisível e deslocado para baixo */
  opacity: 0;
  transform: translateY(100px); /* 50px abaixo da posição final */
  
  /* Animação */
  animation: subir 2s ease-out forwards; /* duração 0.6s, suavização ease-out, mantém estado final */
 
}
/*
animação → nome do @keyframes
2s → duração
linear → função de tempo
2s → atraso antes de começar
forwards → mantém o estado final (opacity: 1) após a animação
*/


@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(100px); /* começa 50px abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* termina na posição normal */
  }
}
    


.tool{
  background-color: rgb( 255, 255, 255, 0.1);
  border-radius: 5%;
  align-items: center;
  margin: 20px;
  color: #6B7280;
}

.tool:hover{
  background-color:  rgba(0, 0, 0, 0.5) 

}




a {
  text-decoration: none;
  color:rgb( 255, 255, 255, 0.9);
}

#company{
  background-color: rgba(0, 0, 0, 0.2) ;
  border-radius: 5%;
}

/**************************formulario**************************************************************************/


form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1rem; /* garante espaço entre resultados e footer */
    padding: 1em;
    background: rgba( 255, 255, 255, 0.30);
    border-radius: 8px;
    align-items: center;
}





.form-group {
    display: flex;
    flex-direction: column; /* label em cima do input */
    margin-bottom: 1em;
    color: black;
}

input, select, textarea {
    width: 100%; 
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid rgba( 255, 255, 255, 0.30);
    border-radius: 4px;
    background-color: rgba( 255, 255, 255, 0.30);
    align-items: center;
    
}

label{
  color: rgba(0, 0, 0, 0.5) 

}


#thanks{
  display: grid;
}

.cardresult{
  margin: 10px 10px 10px 10px;
}

#results{
  background-color:rgba(0, 0, 0, 0.3) ;
  border-radius: 10%;
  margin: 100px 100px 100px 100px;
  
}

